%btn {
  position: relative;
  white-space: nowrap;
  background-image: none;
  padding: 0 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: $btn-font-size-normal;
  height: $btn-size-normal;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  user-select: none;
  touch-action: manipulation;
  transition: all .3s $ease-in-out;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &+.spirit-button {
    margin-left: $margin-md;
  }
}

%btn-shadow {
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}

%default {
  color: $btn-default-text;
  border-color: $border-color;
  background-color: $btn-default-bg-color;
  &:hover {
    color: $btn-default-hover-bg;
    border-color: $btn-default-hover-bg;
  }
  &:focus {
    color: $btn-default-hover-bg;
    border-color: $btn-default-hover-bg;
  }
  &:active {
    color: $btn-default-active-bg;
    border-color: $btn-default-active-bc;
  }
}

%primary {
  color: $btn-text;
  background-color: $btn-primary-bg-color;
  @extend %btn-shadow;
  &:hover {
    background-color: $btn-primary-hover-bg;
  }
  &:focus {
    background-color: $btn-primary-bg-color;
  }
  &:active {
    background-color: $btn-primary-active-bg;
  }
}

%success {
  color: $btn-text;
  background-color: $btn-success-bg-color;
  @extend %btn-shadow;
  &:hover {
    background-color: $btn-success-hover-bg;
  }
  &:focus {
    background-color: $btn-success-bg-color;
  }
  &:active {
    background-color: $btn-success-active-bg;
  }
}

%warning {
  color: $btn-text;
  background-color: $btn-warning-bg-color;
  @extend %btn-shadow;
  &:hover {
    background-color: $btn-warning-hover-bg;
  }
  &:focus {
    background-color: $btn-warning-bg-color;
  }
  &:active {
    background-color: $btn-warning-active-bg;
  }
}

%danger {
  color: $btn-text;
  background-color: $btn-danger-bg-color;
  @extend %btn-shadow;
  &:hover {
    background-color: $btn-danger-hover-bg;
  }
  &:focus {
    background-color: $btn-danger-bg-color;
  }
  &:active {
    background-color: $btn-danger-active-bg;
  }
}

@mixin btn-size () {
  @include when(large) {
    height: $btn-size-large;
    line-height: $btn-size-large - 2;
    font-size: $btn-font-size-large;
  }
  @include when(normal) {
    height: $btn-size-normal;
    line-height: $btn-size-normal - 2;
    font-size: $btn-font-size-normal;
  }
  @include when(small) {
    height: $btn-size-small;
    line-height: $btn-size-small - 2;
    font-size: $btn-font-size-normal;
  }
  @include when(mini) {
    height: $btn-size-mini;
    line-height: $btn-size-mini - 2;
    font-size: $btn-font-size-mini;
  }
}

@mixin btn-type {
  @include when(default) {
    @extend %default;
  }
  @include when(primary) {
    @extend %primary;
  }
  @include when(success) {
    @extend %success;
  }
  @include when(warning) {
    @extend %warning;
  }
  @include when(danger) {
    @extend %danger;
  }
}

@include b(button) {
  @extend %btn;
  @include btn-size();
  @include btn-type();
}