%btn {
  padding: 4px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &+.spirit-button {
    margin-left: $margin-md;
  }
}

%default {
  color: $btn-default-text;
  border-color: $border-color;
  background-color: $btn-default-bg-color;
  &:hover {
    color: $btn-default-hover-bg;
    border-color: $btn-default-hover-bg;
  }
  &:focus {
    color: $btn-default-hover-bg;
    border-color: $btn-default-hover-bg;
  }
  &:active {
    color: $btn-default-active-bg;
    border-color: $btn-default-active-bc;
  }
}

%primary {
  color: $btn-text;
  background-color: $btn-primary-bg-color;
  &:hover {
    background-color: $btn-primary-hover-bg;
  }
  &:focus {
    background-color: $btn-primary-bg-color;
  }
  &:active {
    background-color: $btn-primary-active-bg;
  }
}

%success {
  color: $btn-text;
  background-color: $btn-success-bg-color;
  &:hover {
    background-color: $btn-success-hover-bg;
  }
  &:focus {
    background-color: $btn-success-bg-color;
  }
  &:active {
    background-color: $btn-success-active-bg;
  }
}

%warning {
  color: $btn-text;
  background-color: $btn-warning-bg-color;
  &:hover {
    background-color: $btn-warning-hover-bg;
  }
  &:focus {
    background-color: $btn-warning-bg-color;
  }
  &:active {
    background-color: $btn-warning-active-bg;
  }
}

%danger {
  color: $btn-text;
  background-color: $btn-danger-bg-color;
  &:hover {
    background-color: $btn-danger-hover-bg;
  }
  &:focus {
    background-color: $btn-danger-bg-color;
  }
  &:active {
    background-color: $btn-danger-active-bg;
  }
}

@include b(button) {
  @extend %btn;
  @include when(default) {
    @extend %default;
  }
  @include when(primary) {
    @extend %primary;
  }
  @include when(success) {
    @extend %success;
  }
  @include when(warning) {
    @extend %warning;
  }
  @include when(danger) {
    @extend %danger;
  }
}