// 自然色
$color-white: white !default;
$color-black: black !default;
$color-pink: #d63384 !default;
$color-yellow: #fadb14 !default;
$color-jade: #19ab6e !default;
$color-kelly-green: #52c41a !default;
$color-chinese-yellow: #faad14 !default;
$color-tart-orange: #ff4d4f !default;

// 功能色
$color-primary: $color-jade !default;
$color-success: $color-kelly-green !default;
$color-warning: $color-chinese-yellow !default;
$color-danger: $color-tart-orange !default;

// 主题色
$color-primary-map: get-series-map($color-primary);
$color-success-map: get-series-map($color-success);
$color-warning-map: get-series-map($color-warning);
$color-danger-map: get-series-map($color-danger);
$color-neutral-map: get-neutral-map();

// 文字色
$color-text-title: map-get($color-neutral-map, 12) !default;
$color-text-primary: map-get($color-neutral-map, 10) !default;
$color-text-secondary: map-get($color-neutral-map, 8) !default;
$color-text-disabled: map-get($color-neutral-map, 4) !default;

// 背景色
$body-background: $color-white;
$component-background: $color-white;

// body
$body-bg: $color-white !default;
$body-color: $color-text-primary !default;
$body-text-align: null !default;

// 边框
$border-width: 1px !default;
$border-color: map-get($color-neutral-map, 2) !default;
$border-style-base: solid !default;
$border-radius-base: 2px !default;
$border-radius-sm: $border-radius-base !default;

// 分割线
$divider-color: map-get($color-neutral-map, 1) !default;

// 字体
$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// 字号
$font-size-esm: 12px !default; // 辅助文字
$font-size-sm: 13px !default; // 正文（小）
$font-size-base: 14px !default; // 正文
$font-size-md: 16px !default; // 小标题
$font-size-lg: 18px !default; // 标题
$font-size-elg: 20px !default; // 主标题

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// 链接
$link-color: $color-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// 行高
$line-height-base: 1.5715 !default;

// 内边距
$padding-lg: 24px !default; // containers
$padding-md: 16px !default; // small containers and buttons
$padding-sm: 12px !default; // Form controls and items
$padding-xs: 8px !default; // small items
$padding-xss: 4px !default; // more small

// 外边距
$margin-lg: 24px !default; // containers
$margin-md: 16px !default; // small containers and buttons
$margin-sm: 12px !default; // Form controls and items
$margin-xs: 8px !default; // small items
$margin-xss: 4px !default; // more small

// height rules
$height-base: 32px !default;
$height-lg: 40px !default;
$height-sm: 24px !default;

// 阴影
$shadow-color16: rgba(0, 0, 0, .16) !default;
$shadow-color12: rgba(0, 0, 0, .12) !default;
$shadow-color9: rgba(0, 0, 0, .09) !default;
$shadow-color8: rgba(0, 0, 0, .08) !default;
$shadow-color5: rgba(0, 0, 0, .05) !default;
$shadow-color3: rgba(0, 0, 0, .03) !default;

// 动画
$ease-base-out: cubic-bezier(.7, .3, .1, 1) !default;
$ease-base-in: cubic-bezier(.9, 0, .3, .7) !default;
$ease-out: cubic-bezier(.215, .61, .355, 1) !default;
$ease-in: cubic-bezier(.55, .055, .675, .19) !default;
$ease-in-out: cubic-bezier(.645, .045, .355, 1) !default;
$ease-out-back: cubic-bezier(.12, .4, .29, 1.46) !default;
$ease-in-back: cubic-bezier(.71, -.46, .88, .6) !default;
$ease-in-out-back: cubic-bezier(.71, -.46, .29, 1.46) !default;
$ease-out-circ: cubic-bezier(.08, .82, .17, 1) !default;
$ease-in-circ: cubic-bezier(.6, .04, .98, .34) !default;
$ease-in-out-circ: cubic-bezier(.78, .14, .15, .86) !default;
$ease-out-quint: cubic-bezier(.23, 1, .32, 1) !default;
$ease-in-quint: cubic-bezier(.755, .05, .855, .06) !default;
$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1) !default;

$wave-animation-width: 6px;

// button 组件
$btn-size-large: 40px !default;
$btn-size-normal: 32px !default;
$btn-size-small: 24px !default;
$btn-size-mini: 16px !default;

$btn-font-size-large: 16px !default;
$btn-font-size-normal: 14px !default;
$btn-font-size-mini: 12px !default;

$btn-default-text: $color-text-secondary;
$btn-default-bg-color: $color-white;
$btn-default-hover-bg: $color-primary;
$btn-default-active-bg: map-get($color-primary-map, dark-1);
$btn-default-active-bc: map-get($color-primary-map, dark-2);

$btn-text: $color-white;
$btn-link-text: $color-primary;
$btn-link-hover-text: map-get($color-primary-map, light-1);
$btn-primary-bg-color: $color-primary;
$btn-primary-hover-bg: map-get($color-primary-map, light-1);
$btn-primary-active-bg: map-get($color-primary-map, dark-2);

$btn-success-bg-color: $color-success;
$btn-success-hover-bg: map-get($color-success-map, light-1);
$btn-success-active-bg: map-get($color-success-map, dark-2);

$btn-warning-bg-color: $color-warning;
$btn-warning-hover-bg: map-get($color-warning-map, light-1);
$btn-warning-active-bg: map-get($color-warning-map, dark-2);

$btn-danger-bg-color: $color-danger;
$btn-danger-hover-bg: map-get($color-danger-map, light-1);
$btn-danger-active-bg: map-get($color-danger-map, dark-2);
